einvoice/einvoice/Service References/QRCodeReference/QREncryptService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QREncryptTest">
        <s:complexType />
      </s:element>
      <s:element name="QREncryptTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QREncryptTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QREncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qrCode" type="tns:QRCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QRCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesAmount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyerIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RepresentIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SellerIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="QREncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QREncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitQRCode">
        <s:complexType />
      </s:element>
      <s:element name="InitQRCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitQRCodeResult" type="tns:QRCode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="QRCode" nillable="true" type="tns:QRCode" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="QREncryptTestSoapIn">
    <wsdl:part name="parameters" element="tns:QREncryptTest" />
  </wsdl:message>
  <wsdl:message name="QREncryptTestSoapOut">
    <wsdl:part name="parameters" element="tns:QREncryptTestResponse" />
  </wsdl:message>
  <wsdl:message name="QREncryptSoapIn">
    <wsdl:part name="parameters" element="tns:QREncrypt" />
  </wsdl:message>
  <wsdl:message name="QREncryptSoapOut">
    <wsdl:part name="parameters" element="tns:QREncryptResponse" />
  </wsdl:message>
  <wsdl:message name="InitQRCodeSoapIn">
    <wsdl:part name="parameters" element="tns:InitQRCode" />
  </wsdl:message>
  <wsdl:message name="InitQRCodeSoapOut">
    <wsdl:part name="parameters" element="tns:InitQRCodeResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QREncryptTestHttpGetIn" />
  <wsdl:message name="QREncryptTestHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InitQRCodeHttpGetIn" />
  <wsdl:message name="InitQRCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:QRCode" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QREncryptTestHttpPostIn" />
  <wsdl:message name="QREncryptTestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InitQRCodeHttpPostIn" />
  <wsdl:message name="InitQRCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:QRCode" />
  </wsdl:message>
  <wsdl:portType name="QREncryptServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <wsdl:input message="tns:QREncryptTestSoapIn" />
      <wsdl:output message="tns:QREncryptTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QREncrypt">
      <wsdl:input message="tns:QREncryptSoapIn" />
      <wsdl:output message="tns:QREncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <wsdl:input message="tns:InitQRCodeSoapIn" />
      <wsdl:output message="tns:InitQRCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="QREncryptServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <wsdl:input message="tns:QREncryptTestHttpGetIn" />
      <wsdl:output message="tns:QREncryptTestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <wsdl:input message="tns:InitQRCodeHttpGetIn" />
      <wsdl:output message="tns:InitQRCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="QREncryptServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <wsdl:input message="tns:QREncryptTestHttpPostIn" />
      <wsdl:output message="tns:QREncryptTestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <wsdl:input message="tns:InitQRCodeHttpPostIn" />
      <wsdl:output message="tns:InitQRCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QREncryptServiceSoap" type="tns:QREncryptServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <soap:operation soapAction="http://tempuri.org/QREncryptTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncrypt">
      <soap:operation soapAction="http://tempuri.org/QREncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <soap:operation soapAction="http://tempuri.org/InitQRCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QREncryptServiceSoap12" type="tns:QREncryptServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <soap12:operation soapAction="http://tempuri.org/QREncryptTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncrypt">
      <soap12:operation soapAction="http://tempuri.org/QREncrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <soap12:operation soapAction="http://tempuri.org/InitQRCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QREncryptServiceHttpGet" type="tns:QREncryptServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <http:operation location="/QREncryptTest" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <http:operation location="/InitQRCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QREncryptServiceHttpPost" type="tns:QREncryptServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QREncryptTest">
      <http:operation location="/QREncryptTest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitQRCode">
      <http:operation location="/InitQRCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QREncryptService">
    <wsdl:port name="QREncryptServiceSoap" binding="tns:QREncryptServiceSoap">
      <soap:address location="http://iec1-b2bapp.iec.inventec/einvoice/Services/QREncryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="QREncryptServiceSoap12" binding="tns:QREncryptServiceSoap12">
      <soap12:address location="http://iec1-b2bapp.iec.inventec/einvoice/Services/QREncryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="QREncryptServiceHttpGet" binding="tns:QREncryptServiceHttpGet">
      <http:address location="http://iec1-b2bapp.iec.inventec/einvoice/Services/QREncryptService.asmx" />
    </wsdl:port>
    <wsdl:port name="QREncryptServiceHttpPost" binding="tns:QREncryptServiceHttpPost">
      <http:address location="http://iec1-b2bapp.iec.inventec/einvoice/Services/QREncryptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>